body{
    background-color: rgb(49, 9, 9);
}
h1 {
    text-transform: uppercase;
    font-size: 3rm;
}

.pointer {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family:"libre Baskerville", serif;
    text-align: center;
}

.motivation-img {
    border: 5px solid whitesmoke;
    width: 100%;
}